{% extends "template.html" %} {% block content %}
<h2 class="text-white">Agregar Proyectos</h2>
<div class="booking-form-body">
    <a href="/proyecto/save" class="btn btn-danger"></a>
    <a href="/proyecto/list" class="btn btn-info">Volver</a>
    <form id="form" class="custom-form booking-form" action="/proyecto/save" method="POST" role="form">
        <div class="booking-form-body">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <input type="text" name="nombre" class="form-control" placeholder="Nombres" required />
                </div>
                <div class="col-lg-6 col-12">
                    <input type="number" name="inversion" class="form-control" placeholder="Inversion" required />
                </div>
                <div class="col-lg-6 col-12">
                    <input type="date" name="fechaInicio" class="form-control" placeholder="Fecha Incio" required />
                </div>
                <div class="col-lg-6 col-12">
                    <input type="date" name="fechaFinal" class="form-control" placeholder="Fecha Final" required />
                </div>
                <div class="col-lg-6 col-12">
                    <input type="number" name="tiempoVida" class="form-control" placeholder="Tiempo de Vida" required />
                </div>
                <div class="col-lg-6 col-12">
                    <input type="number" name="costo" class="form-control" placeholder="Costo" required />
                </div>
                <div class="col-lg-6 col-12">
                    <input type="number" name="electricidadDia" class="form-control" placeholder="Electrricidad por Dia"
                        required />
                </div>
                <div class="col-lg-4 col-md-10 col-8 mx-auto mt-2">
                    <button id="boton" type="submit" class="form-control btn btn-success">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}