{% extends "template.html" %} {% block content %}
<div class="container my-5">
    <h2 class="text-center text-white mb-4">Lista de Proyectos</h2>
    <div class="d-flex justify-content-end mb-3">
        <a href="/proyecto/register" class="btn btn-danger me-2">AGREGAR</a>
        <a href="/" class="btn btn-info">Inicio</a>
    </div>
    <div class="table-responsive">
        <table id="tabla" class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Electricidad por Día</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Final</th>
                    <th scope="col">Tiempo de Vida</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for item in lista %}
                <tr>
                    <td>{{ item.nombre }}</td>
                    <td>$ {{ item.costo }}</td>
                    <td>{{ item.electricidadDia }} watts</td>
                    <td>{{ item.fechaInicio }}</td>
                    <td>{{ item.fechaFinal }}</td>
                    <td>{{ item.tiempoVida }} anios</td>
                    <td>
                        <a href="/proyecto/edit/{{ item.idProyecto }}" class="btn btn-info">Modificar</a>
                    </td>
                    <td>
                        <form action="/proyecto/delete/{{ item.idProyecto }}" method="post"
                                    onsubmit="return confirmDelete()">
                                    <button type="submit" class="btn btn-danger">
                                        Eliminar
                                    </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function confirmDelete() {
        return confirm('¿Está seguro de eliminar este proyecto?');
    }
</script>
{% endblock %}